@{
  Layout = "_Layout";
}


<h1>Pierre's Sweat and Savory Treats!</h1>
<p>@Html.ActionLink("Treats Galore!", "Index", "Treats")</p>
<p>@Html.ActionLink("Available Flavors!", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>