@{
  Layout = "_Layout";
}

@using SweetTreat.Models;

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
  <h3>Everything tastes like nothing!</h3>
} 

<ul>
  @foreach(Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Flavor", "Create")</p>